<div class="w-full h-full">
  <div class="container-login-page">
    <div class="login-page ">
      <div class="container-form shadow-xl shadow-black/2 bg-light-900">
        <img  src="../../../../assets/logo.png" alt="">

        <form [formGroup]="formAuthenticate" (ngSubmit)="login()">
          <h1 class="text-4xl font-bold mb-10 ml-4">Connexion</h1>
          <!-- <div class="input-label">
            <label for="">Email</label>
            <input type="text" placeholder="Email ou login window" formControlName="username">
          </div> -->
          <div class="w-[95%] mb-10">
            <label class=" block text-black text-sm font-bold mb-3" for="username">
              Email
            </label>
            <input 
                  class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="username" type="text" placeholder="email or login_Windows" formControlName="username">
          </div>

          <!-- <div class="input-label">
            <label for="">Mot de passe</label>
            <input type="password" placeholder="Reseigner votre mot de passe" formControlName="password">
          </div> -->
          <div class="w-[95%]">
            <label class=" block text-black text-sm font-bold mb-3" for="username">
              Password
            </label>
            <input
             class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
             id="password" type="password" placeholder="password" formControlName="password">
          </div>
          <div class="container-button mt-10">
            <!-- <button type="submit" class="button outline" [disabled]="formAuthenticate.invalid"
              [ngClass]="{'bg-col': formAuthenticate.invalid }">
              Connexion
              <div class="loader"></div>
            </button> -->
            <button  class="bg-[#FF7900] button hover:bg-orange-500 text-white font-bold py-2 px-4 rounded">
              Connexion
            </button>
          </div>
        </form>
      </div>
      <div class="container-image"></div>

    </div>
  </div>

</div>
